@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=Varela Round');

.bg-drink-1 {
    background-image: url('./img/drinks/cosmopolitan.jpg');
}

.bg-drink-2 {
    background-image: url('./img/drinks/hurricane.jpg');
}

.bg-drink-3 {
    background-image: url('./img/drinks/glimlet.jpg');
}

.bg-drink-4 {
    background-image: url('./img/drinks/stormy.jpg');
}

.bg-drink-5 {
    background-image: url('./img/drinks/kirroyal.jpg');
}

.bg-drink-6 {
    background-image: url('./img/drinks/collins.jpg');
}

.bg-drink-7 {
    background-image: url('./img/drinks/hakutsury.jpg');
}

.bg-drink-8 {
    background-image: url('./img/drinks/classic.jpg');
}

.promotions {
    margin-bottom: 12rem;
}

.logos {
    height: 5rem;
}

.selection {
    height: 100vh;
    background-size: 100% 100%;
}

.music {
    color: #83d0e3;
    margin-right: 50vh;
    margin-top: 4vh;
}

.speaker {
    height: 4vh;
    width: 20vh;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.selection-bottom {
    margin-top: 49vh;

}


.bottom-selection-img {
    height: 17.3vh;
}


.ingredients {
    height: 12vh;
    animation: fadeIn 10s;
    margin-bottom: 7vh;
}

.drink-title {
    display: block;
    width: 39%;
    height: auto;
    margin-left: 21vh;
    margin-bottom: 40vh;
}

.pulse {
    display: block;
    width: 45%;
    height: auto;
    margin-bottom: 9vh;
    margin-left: 17vh;
    animation: pulse 3s infinite;
    /* margin: 0 auto; */
    display: table;
    /* margin-top: 50px; */
    animation-direction: alternate;
    -webkit-animation-name: pulse;
    animation-name: pulse;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.1);
    }

    100% {
        -webkit-transform: scale(1);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}






@media only screen and (max-width: 768px) {

    .logos {
        height: 3.4rem;
    }

    .promotions {
        margin-bottom: 5rem;
    }



}

@media only screen and (max-width: 375px) {

    .logos {
        height: 2.5rem;
    }

    .promotions {
        margin-bottom: 5rem;
    }

}

@media only screen and (max-width: 320px) {

    .logos {
        height: 1.6rem;
    }

    .promotions {
        margin-bottom: 2rem;
    }

}